<div class="photo-container">
  <div class="item">
  	123123
  </div>
</div>

{% schema %}
  {
    "name": "test",
    "settings": [
		{
      		"type": "image_picker",
      		"id": "logo",
      		"label": "logo"
    	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
